{% extends "../base.html" %}
{% load static %}

{% block head %}
<script src="https://d3js.org/d3.v7.min.js"></script>
{% endblock %}

{% block content %}
<h1>Sensor Data</h1>
<label for="field-select">Field:</label>
<select id="field-select">
    <option value="latitude">Latitude</option>
    <option value="longitude">Longitude</option>
    <option value="speed_overground">Speed Overground</option>
    <option value="stw">STW</option>
    <option value="direction">Direction</option>
    <option value="current_ucomp">Current Ucomp</option>
    <option value="current_vcomp">Current Vcomp</option>
    <option value="draft_aft">Draft Aft</option>
    <option value="draft_fore">Draft Fore</option>
    <option value="comb_wind_swell_wave_height">comb_wind_swell_wave_height</option>
    <option value="power">Power</option>
</select>
<br><br>
<label for="realtime-check">Realtime:</label>
<input type="checkbox" id="realtime-check" checked>
<br><br>

<svg id="rawData"></svg>
<svg id="normalizedData"></svg>

<script src="{% static '/js/dscharts/dscharts.js' %}"></script>
<script>
    const API = '/api/sensor/sensor-data/';
    let DATA = undefined;
    let FIELD = 'latitude';
    let REALTIME = true;

    function fetchSensorData() {
        const api = REALTIME ? `${API}?limit=1000` : API;
        fetch(api)
            .then(function(response) { return response.json(); })
            .then(function(data) {
                DATA = data
                updateCharts();
            })
            .catch(function(err) { console.log(err); })
    }

    function updateCharts() {
        let parsedData = parseData(DATA, FIELD, false);
        drawChart(parsedData, '#rawData', `Raw ${FIELD}`);
        parsedData = parseData(DATA, FIELD, true);
        drawChart(parsedData, '#normalizedData', `Normalized ${FIELD}`);
    }

    document.addEventListener("DOMContentLoaded", function(event) {

        fetchSensorData();

        const fieldSelect = document.getElementById("field-select");
        fieldSelect.addEventListener("change", (event) => {
            FIELD = event.target.value;
            updateCharts();
        });

        let intervalId = setInterval(fetchSensorData, 2000);
        const checkbox = document.getElementById('realtime-check');
        checkbox.addEventListener('change', function() {
            clearInterval(intervalId);
            REALTIME = checkbox.checked;
            fetchSensorData();
            if (checkbox.checked) intervalId = setInterval(
                fetchSensorData, 2000);
        });

    });

</script>

{% endblock %}
